prompt-engineering/.env
.venv*
azure-quiz/Lib
azure-quiz/Scripts
azure-quiz/etc
azure-quiz/share
azure-quiz/.env
prompt-engineering/.chroma
prompt-engineering/vectordb
*.jsonl
document-classification/data
